<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class="ask">
  <p><%= @ask %></p>
  <p>-You</p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p>-Your Coach!</p>
</div>
<%= link_to "Ask a new questions ?", ask_path %>
