<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="answer" method= "get">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <input class="form-control" type="text" name="ask">
      <input class="form-control" type="submit" value="Ask!">
    </div>
  </div>
</form>

