// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ask {
  margin: 20px;
  border-left: 5px solid grey;
  border-bottom: 1px solid lightgrey;
    p {
    padding: 10px 40px;
  }
}
.answer {
  margin: 20px;
  border-bottom: 1px solid lightgrey;
  border-left: 5px solid grey;
  p {
    padding: 10px 40px;
  }
}
a {
  margin: 20px;
  text-decoration: none;
}
